<div class="navbar navbar-default">
  <a class="navbar-brand" [routerLink]="['']">Shopping Site</a>
  <ul class="nav navbar-nav">
    <li>
      <a [routerLink]="['/user']">Dashboard</a>
    </li>   
  </ul>
  <ul class="nav navbar-nav pull-right">
    <li *ngIf="user.isAuth==true" style="padding-top:15px">
      Welcome : {{user.fullName}}
    </li>
     <li *ngIf="user.isAuth==true">
      <a href="javascript:void(0);" (click)="signout()">Logout</a>
    </li>
  </ul>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>